body{
    overflow-x: hidden;
        font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo-wrapper{
    float: left;
    margin-top: -36px;
    margin-left: -10px;
}
.vertical-line{
    float: left;
}
.search-container{
    float:right;
    margin-right:-10px;
    margin-top:-30px;
}
.lower-header{
    margin-top: -55px;;
}
.icon1, .icon2, .icon3, .icon4, .icon5 {
    position: relative;
    display: inline-block;
   
}
.right-nav-bar{
    float:right;

}
.icon1 .img-top1 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.icon1:hover .img-top1 {
    display: inline;
}
.icon2 .img-top2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.icon2:hover .img-top2 {
    display: inline;
}
.icon3 .img-top3 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.icon3:hover .img-top3 {
    display: inline;
}
.icon4 .img-top4 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.icon4:hover .img-top4 {
    display: inline;
}
.icon5 .img-top5 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.icon5:hover .img-top5 {
    display: inline;
}
.body-container{
    margin-top: -50px;
}
.slider-indicator{
    text-align: center;
  }
  .body-middle-container{
    padding:50px;
}
.ID{
    margin-left: 200px;
    padding-bottom: 300px;
}
.body-bottom-container{
    padding: 30px 0px 300px 0px;
    margin-bottom: 100px;;
}
.project-box{
    margin-left: 600px;
    margin-top: 60px;
    
}
.project-box-image{
 margin-top:-250px;
}
 
.footer-right-container{
    float: right;
}

.footer-mid{
    margin-left: -100px;
    margin-top: -360px;
    margin-right: 57px;
    font-size: 15px;

}

.footer-right{
    float: right;
}
.footer-left-content{
    margin-left: 115px;
  }
  
  .col1-row1{
    margin-bottom: 30px;
  }
  
  .footer-right input, textarea{
    width: 350.124px;
    height: 15.128px;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 10px;
    
  }
  
  textarea{
    min-height: 110px;
    resize: none;
  }
  
  .footer-right button{
    border-radius: 5px;
  }
  
  
 



.bottom-left{
    float: left;
    color:white;
    margin-left: 80px;
    font-size: 15px;

}

.bottom-right{
    float: right;
    color:white;
    margin-right:90px;
    font-size: 15px;
}
.blog1{
    margin-bottom:20px;
}
.contact{
   margin-top: 30px;
}
.VP, .name{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}